
<div class="container form" id="leave">
    <h1>Request leave</h1>
    <form action="/addproject" method="post">
        <input class="form-control mt-5" type="text" name="name" placeholder="name">
        <input class="form-control mt-5" type="date" name="on" id="">
        <textarea class="form-control my-3" rows="6" name="reason" placeholder="reason"></textarea>
        <button class="btn btn-block btn-success" type="submit">Submit</button>
    </form>
</div>
