<%- include('./partials/header.ejs'); -%>


<div class="card container form text-center" id="register">
    <h1 style="font-weight: 700;">Signup</h1>
    <form action="/register" method="post">
        <input class="form-control mt-5" type="text" name="name" placeholder="Name">
        <input class="form-control mt-3" type="text" name="username" placeholder="Email">
        <input class="form-control my-3" type="password" name="password" placeholder="Password">
        <select class="form-select my-3" name="role" id="">
            <option selected value="student">Student</option>
            <option value="staff">Staff</option>
        </select>
        <select class="form-select my-3" name="college" id="">
            <% colleges.forEach((college) => { %>
                <option value="<%= college._id %>"><%= college.name %></option>
            <% }) %>
        </select>
        <div class="d-grid gap-2 pt-3">
            <button type="submit" class="btn btn-success" type="button">Sign up</button>
        </div>
    </form>
</div>

<%- include('./partials/footer.ejs'); -%>
